In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn.model_selection import GridSearchCV
user_ratingRMSE=[]
total_starsRMSE=[]
user_ratingR2=[]
total_starsR2=[]

In [135]:
dataframe = pd.read_csv("../Preprocessing/preprocessdffixed.csv")

In [136]:
dataframe = dataframe.drop(['Unnamed: 0' ], axis=1)
dataframe

,User Rating,Review,Price,Year,Genre,Occurences,Total Stars,000,10,100,...,write,year,york,young,zelda,zhi,zinczenko,zone,zoo,zusak
0,0.8750,0.197178,0.067308,0.7,1.0,0.000000,0.193075,0.0,0.914439,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.8125,0.022949,0.201923,0.2,0.0,0.000000,0.021992,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.8750,0.215730,0.134615,0.9,1.0,0.000000,0.211241,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.8750,0.243577,0.048077,0.8,0.0,0.000000,0.238507,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.9375,0.086875,0.105769,1.0,1.0,0.000000,0.086891,1.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,0.7500,0.122124,0.134615,0.3,0.0,0.000000,0.114481,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
343,0.5625,0.014407,0.096154,0.1,1.0,0.000000,0.012571,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
344,0.9375,0.245866,0.076923,0.4,0.0,0.444444,0.245879,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
345,1.0000,0.106783,0.067308,1.0,0.0,0.000000,0.109032,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,0.8750,0.162794,0.067308,0.7,1.0,0.333333,0.159409,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [137]:
dataframe.info()
X_to_split = dataframe.drop('User Rating', axis=1).values
y_to_split = dataframe['User Rating']
y_to_split

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Columns: 1391 entries, User Rating to zusak
dtypes: float64(1391)
memory usage: 3.7 MB

0      0.8750
1      0.8125
2      0.8750
3      0.8750
4      0.9375
        ...
342    0.7500
343    0.5625
344    0.9375
345    1.0000
346    0.8750
Name: User Rating, Length: 347, dtype: float64

In [138]:
X_train, X_test, y_train, y_test \
    = train_test_split(X_to_split, y_to_split)

In [145]:
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
y_predict = rf.predict(X_train)
print('User Rating')
print('RMSE on the training set: ', np.sqrt(MSE(y_predict, y_train)))
print('R^2 score on training set: ', rf.score(X_train,y_train))


y_test_predict = rf.predict(X_test)
y_test_predict
print('RMSE on the test set: ', np.sqrt(MSE(y_test_predict, y_test)))
print('R^2 score on test set: ', rf.score(X_test,y_test))

User Rating
RMSE on the training set:  0.011032064973320323
R^2 score on training set:  0.9922068780781766
RMSE on the test set:  0.00760678217097436
R^2 score on test set:  0.9927924553495077

In [140]:
dataframe.info()
X_to_split = dataframe.drop('Total Stars', axis=1).values
y_to_split = dataframe['Total Stars']
y_to_split

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Columns: 1391 entries, User Rating to zusak
dtypes: float64(1391)
memory usage: 3.7 MB

0      0.193075
1      0.021992
2      0.211241
3      0.238507
4      0.086891
         ...
342    0.114481
343    0.012571
344    0.245879
345    0.109032
346    0.159409
Name: Total Stars, Length: 347, dtype: float64

In [144]:
X_train, X_test, y_train, y_test \
    = train_test_split(X_to_split, y_to_split)
rf2 = RandomForestRegressor()
rf2.fit(X_train,y_train)
y_predict = rf.predict(X_train)
print('Total Stars')

print('RMSE on the training set: ', np.sqrt(MSE(y_predict, y_train)))
print('R^2 score on training set: ', rf2.score(X_train,y_train))


y_test_predict = rf.predict(X_test)
y_test_predict
print('RMSE on the test set: ', np.sqrt(MSE(y_test_predict, y_test)))
print('R^2 score on test set: ', rf2.score(X_test,y_test))

Total Stars
RMSE on the training set:  0.013577477744992938
R^2 score on training set:  0.9933047276005343
RMSE on the test set:  0.0056460627662849915
R^2 score on test set:  0.9934289806176718